body{
  background-color: #02010a;
  font-family: 'Dancing Script';
}

#container{  
  width: 900px;
  margin: 0 auto;
  flex-direction: column;
  animation: slidein 2s;
}

div[class *='cab']{
  background-color: #5b7989;
}
h1{
  text-align: justify;
  margin: 10px;
  color: white;
  text-shadow: 1px 2px 3px #02010a;
}
.border-top-left{
border-top-left-radius: 10px;
}

.border-top-right{
border-top-right-radius: 10px;
}

.border-bottom-left{
border-bottom-left-radius: 10px;
}

.border-bottom-right{
border-bottom-right-radius: 10px;
}

.text-left{
text-align: left;
}
.cab-left{
  float: left;
  width: 70%;
  height: 60px;
}

.cab-rigth{
  float: right;
  width: 30%;
  height: 60px;
}

nav{
  float: right;
  overflow: hidden;
  height: 60px;
}

nav ul{
  list-style-type:none;
	float:left;
  	padding: 0;
		/* AÑADIMOS */
		position: relative;
		left: 50%;
}
nav ul li {
		float:left;
    padding-right: 15px;
    	position: relative;
			right: 50%;
}
nav ul li a {
  color: white;
}

.img-center{
  display: block;
  margin: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid black;
}

.img-center-rot:hover{
  transform: rotate(10deg);
  border: 2px solid #82c3a6;
}

.img-center-tras:hover{
  transform: translate(20px,-5px);
  border: 2px solid #82c3a6;
}

.img-central{
  background-color: #82c3a6;
  width: 100%;  
  overflow: hidden;
}


.blur{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.grises{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.sepia{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
.contenedor {
	margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d5c75f ;
	display: flex;
	flex-flow: row wrap;
}

.contenedor-footer {
	margin: 0;
  padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.c50 {
  color: #ddd;
	width: 50%;
}

.c25{
  width: 25%;
  background-color: #82c3a6;
}

.c33{
  width: 33%;
}

.pad{
  padding-left: 10px;
}

.lista{
  list-style-type: none;padding: 0 0 0 15px;
}



@media screen and (max-width:980px){
  #container{
    width: 98%;
    margin: 0 auto;
  }
}
@media screen and (max-width:640px){
   #container{
    width: 98%;
    margin: 0 auto;
   }
   h1{
     text-align: center;
   }
   
   .cab-left{
     width: 100%;
     border-top-right-radius: 10px;
   }
   .cab-rigth{
     border-radius: 0;
     width: 100%;
   }
   .cab-rigth nav{
     width: 100%;
   }

   .cab-rigth nav ul{     
     text-align: center;
  
   }
   
   .album-content{
     width: 100%;
   }

   .bloque-left{
      width: 100%;
      order: 1;
      background-color: aqua;

   }
   .bloque-rigth{
     width: 100%;
     order: 2;
     background-color: chartreuse;
   }
   
}

@media all and (max-width: 500px) {
  h1{
    font-size: 20px;
  }
  .lista{
    width: 100%
  }

  	.bloque-left {
		width: 100%;
		order: 2;
	}

	.bloque-rigth {
		width: 100%;
		order: 1;
	}
  .or1 {
		width: 100%;
		order: 1;
    border-bottom-left-radius: 0;
	}

	.or2 {
		width: 100%;
		order: 2;
    border-radius: none;
	}
	
  .or3 {
		width: 100%;
		order: 3;
	}
	.or4 {
		width: 100%;
		order: 4;
    border-bottom-left-radius: 10px;
	}
	
  .or5 {
		width: 100%;
		order: 3;
	}
	.or6 {
		width: 100%;
		order: 4;
    border-bottom-left-radius: 10px;
	}
}

@media all and (max-width: 800px) and (min-width: 500px) {
	.c1 {
		width: 100%;
	}
	.c2 {
		width: 100%;
	}
	
}
@media screen and (max-width:480px){
   #container{
    width: 80%;
   }
   h1{
     text-align: center;
   }

  .cab-rigth nav ul{
    text-align: center;
   }
   .cab-left{
     width: 100%;
     border-top-right-radius: 10px;
   }
   .cab-rigth{     
     width: 100%; 
   }

}

@-webkit-keyframes slidein{
  0%{
    margin-top: 150%
  }

  60%{
    margin-top: -5%;
  }

  100%{
    margin-top: 0%;
  }

}