body{
  background-color: #02010a;
}


#container{  
  width: 900px;
  margin: 0 auto;
  flex-direction: column;
}

div[class *='cab']{
  background-color: #5b7989;
}
h1{
  text-align: justify;
  margin: 10px;
  color: white;
  text-shadow: 1px 2px 3px #02010a;
}
.border-top-left{
border-top-left-radius: 10px;
}

.border-top-right{
border-top-right-radius: 10px;
}

.border-bottom-left{
border-bottom-left-radius: 10px;
}

.border-bottom-right{
border-bottom-right-radius: 10px;
}

.cab-left{
  float: left;
  width: 70%;
  height: 60px;
}

.cab-rigth{
  float: right;
  width: 30%;
  height: 60px;
}

nav{
  float: right;
  overflow: hidden;
  height: 60px;
}

nav ul{
  list-style-type:none;
	float:left;
  margin: 20px;
}
nav ul li {
		float:left;
    padding-right: 15px;
}
nav ul li a {
  color: white;
}

.img-center{
  display: block;
  margin: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}
.img-central{
  background-color: #82c3a6;
  width: 100%;  
  overflow: hidden;
}

.contenedor {
	margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d5c75f ;
	display: flex;
	flex-flow: row wrap;
}

.contenedor-footer {
	margin: 0;
  padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.c50 {
  color: #ddd;
	width: 50%;
}

.c25{
  width: 25%;
  background-color: #82c3a6;
}

.pad{
  padding-left: 10px;
}

.lista{
  list-style-type: none;padding: 0 0 0 15px;
}
@media all and (max-width: 500px) {
	.or2 {
		width: 100%;
		order: 2;
    border-radius: none;
	}
	.or1 {
		width: 100%;
		order: 1;
    border-bottom-left-radius: 0;
	}
	
  .or3 {
		width: 100%;
		order: 3;
	}
	.or4 {
		width: 100%;
		order: 4;
    border-bottom-left-radius: 10px;
	}
	
}

@media all and (max-width: 800px) and (min-width: 500px) {
	.c1 {
		width: 100%;
	}
	.c2 {
		width: 100%;
	}
	
}

@media screen and (max-width:980px){
  #container{
    width: 98%;
    margin: 0 auto;
  }
}

@media all and (max-width: 500px) {
	.bloque-left {
		width: 100%;
		order: 2;
	}

	.bloque-rigth {
		width: 100%;
		order: 1;
	}
	
}
@media screen and (max-width:640px){
   #container{
    width: 98%;
    margin: 0 auto;
   }
   h1{
     text-align: center;
   }
   
   .cab-left{
     width: 100%;
     border-top-right-radius: 10px;
   }
   .cab-rigth{
     border-radius: 0;
     width: 100%;
   }
   .cab-rigth nav{
     width: 100%;
   }

   .cab-rigth nav ul{     
     text-align: center;
  
   }
   
   .album-content{
     width: 100%;
   }

   .bloque-left{
      width: 100%;
      order: 1;
      background-color: aqua;

   }
   .bloque-rigth{
     width: 100%;
     order: 2;
     background-color: chartreuse;
   }
   
}

@media screen and (max-width:480px){
   #container{
    width: 80%;
   }
   h1{
     text-align: center;
   }

  .cab-rigth nav ul{
    text-align: center;
   }
   .cab-left{
     width: 100%;
     border-top-right-radius: 10px;
   }
   .cab-rigth{     
     width: 100%; 
   }

}
